h2{color: #003584;}
.a1{
	color: red;
	text-decoration: none;
	}
.c2{color: blue;}
.c3{color: #FAAC4B;}
.c4{color: #36893B;}
#p1{font-size: 14px;color: #000033;}
.img1{width: 100px;height: 160px;}
.img2{width: 200px;height: 130px;}
